@media (max-width:910px){
  .header-title{
    font-size: 32px;
  }
  .navbar-icon-frame{
    position: fixed;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .navbar-icon-frame{
    width: 35px;
    height: 35px;
  }
  .active-line1{
    top: 16px;
    width: 90%;
    transform-origin: center center;
    transform: rotate(45deg);
    background-color: var(--active);
  }
  .active-line3{
    bottom: 16px;
    width: 90%;
    transform-origin: center center;
    transform: rotate(-45deg);
    background-color: var(--active);
  }
  .navbar-frame{
    position: fixed;
    left: 0px;
    top: 70px;
    width: 170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    transition: .2s all ease-in-out;
    z-index: 1;
  }
  .navbar-btn{
    margin: 10px;
    width: 150px;
  }
  .hide-navbar-frame{
    left: -180px;
    border-bottom: 2px solid white;
  }
}